.detalle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: rgb(16, 66, 100);
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: rgba(156, 96, 96, 0.801);
  margin-top: 1rem;
  margin-left: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(34, 32, 129);
}

.carta {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 600px;
  background-color: rgba(125, 187, 241, 0.308);
  border: 1px solid aliceblue;
  border-radius: 14px;
  transition: transform 0.15s;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.carta:hover {
  cursor: pointer;
  transform: scale(1.04);
  filter: drop-shadow(0 0 15px rgb(243, 221, 221));
}
.titulo {
  color: rgb(52, 137, 194);
}

.tipos {
  text-transform: capitalize;
  margin-top: 2rem;
}
.palabra {
  padding: -1.5rem;
  color: rgb(118, 105, 105)
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;

}
